.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro-gestor,
.CadastroAluno {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f2f8fb; /* Cor de fundo azul claro */
}

.title-gestor {
  font-size: 1.5em;
  text-align: center;
}

.cadastro-gestor label,
.CadastroAluno label {
  margin-bottom: 10px;
}

.cadastro-gestor input[type='text'],
.cadastro-gestor input[type='email'],
.cadastro-gestor input[type='tel'],
.cadastro-gestor textarea,
.CadastroAluno input[type="text"],
.CadastroAluno input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Alterado para a mesma borda cinza */
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.cadastro-gestor button,
.CadastroAluno button {
  width: 100%;
  padding: 10px;
  background-color: #082465;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cadastro-gestor button:hover,
.CadastroAluno button:hover {
  background-color: #1c355f;
}

.cadastro-gestor textarea,
.CadastroAluno textarea {
  resize: vertical;
  min-height: 100px;
}
