.SectionMainHome {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adicionando para distribuir espaço entre os elementos */
    flex-wrap: wrap; /* Permitindo que os elementos quebrem para a linha abaixo */
    padding: 0 30px; /* Ajustando o espaçamento interno */
}

.SectionMainHome .escola-section,
.SectionMainHome .alunos-section,
.SectionMainHome .adicionar-usuario-section,
.SectionMainHome .leitura-de-prova-section,
.SectionMainHome .painel,
.SectionMainHome .suporte-online,
.SectionMainHome .video-tutorial {
    flex: 1; /* Permitindo que os elementos ocupem o espaço disponível */
    max-width: 20%; /* Ajustando a largura máxima para cada elemento */
    margin: 0 15px; /* Adicionando margem entre os elementos */
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: .4s;
}

.SectionMainHome .escola-section:hover,
.SectionMainHome .alunos-section:hover,
.SectionMainHome .adicionar-usuario-section:hover,
.SectionMainHome .leitura-de-prova-section:hover,
.SectionMainHome .painel:hover,
.SectionMainHome .suporte-online:hover,
.SectionMainHome .video-tutorial:hover {
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
