.SectionMainHome {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3em;
    margin: 70px 0 0 0; /* Remover margem da barra lateral */
}

/* Ajustar tamanho dos ícones */
.SectionMainHome .escola-section,
.SectionMainHome .alunos-section,
.SectionMainHome .adicionar-usuario-section,
.SectionMainHome .leitura-de-prova-section,
.SectionMainHome .painel,
.SectionMainHome .suporte-online,
.SectionMainHome .video-tutorial {
    max-width: 100%; /* Remover tamanho máximo */
    width: 10%; /* Permitir que o tamanho se ajuste automaticamente */
    margin-left: 0; 
    transition: border .4s, transform .4s;
    border: 3px solid #04944c;
}

/* Remover tamanho máximo dos links */
.SectionMainHome a {
    max-width: none;
}

/* Remover borda dos ícones */
.SectionMainHome .escola-section,
.SectionMainHome .alunos-section,
.SectionMainHome .adicionar-usuario-section,
.SectionMainHome .leitura-de-prova-section,
.SectionMainHome .painel,
.SectionMainHome .suporte-online,
.SectionMainHome .video-tutorial:hover {
    border: 3px solid #2e4e7e;
}