.SectionMainHome {
    display: flex;
    align-items: center;
    margin: 70px 0 0 30px;
}

.SectionMainHome > * {
    flex: 0 0 10%; /* Ajustando o tamanho para ocupar 10% da largura da tela */
    max-width: 10%;
    max-height: 50vh;
    text-align: center;
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 10px;
    transition: .4s;
}

.SectionMainHome > *:hover {
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
