@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.gabarito-container{
  margin: 20px 0 20px 0;
}

.titulo-gabarito {
  text-align: center;
  font-size: 38px;
}

.GabaritoMain .formulario {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2e4e7e;
  padding: 20px 10px;
  max-width: 50%;
  border-radius: 8px;
}

.formulario label {
  width: 80%;
  margin-bottom: 15px;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario input, .formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

input::placeholder,
select::placeholder,
.PlaceholderQuantidadeAcertos,
.PlaceholderDataRegistro {
  font-size: 14px;
}

.checkbox--group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -70px;
}

.checkbox--group .column {
  width: 100%;
  display: flex;  
}

.checkbox--group input[type="checkbox"] {
  margin-right: 5px;    
}

.checkbox--group label {
  display: flex;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.gabarito {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}