.App{
  margin: 0;
  background-image: url(../public/criança-estudando.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  margin-top: auto; 
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}