.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que a altura do conteúdo preencha pelo menos toda a altura da viewport */
}

.footer {
  margin-top: auto; /* Empurra o footer para a parte inferior */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}